@font-face {
	font-family: 'Minecraft Ten';
	src: url('../fonts/MinecraftTen.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.ttf');
}

@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/Minecraft.otf');
}
